ClientGaji/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/gaji/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGaji" />
  <xs:element name="jabatan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idjabatan" type="xs:int" />
        <xs:element minOccurs="0" name="jabatan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gajipokok" type="xs:int" />
        <xs:element minOccurs="0" name="tjjabatan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jabatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jabatanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editjabatan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idjabatan" type="xs:int" />
        <xs:element minOccurs="0" name="jabatan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gajipokok" type="xs:int" />
        <xs:element minOccurs="0" name="tjjabatan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editjabatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editjabatanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletejabatan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idjabatan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletejabatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletejabatanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jabatanview">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="jabatanviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="jabatanviewResult" nillable="true" type="q1:ArrayOfjabatanview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="golongan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idgolongan" type="xs:int" />
        <xs:element minOccurs="0" name="golongan" type="xs:int" />
        <xs:element minOccurs="0" name="tjkeluarga" type="xs:int" />
        <xs:element minOccurs="0" name="tjkesehatan" type="xs:int" />
        <xs:element minOccurs="0" name="uanglembur" type="xs:int" />
        <xs:element minOccurs="0" name="uangmakan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="golonganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="golonganResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editgolongan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idgolongan" type="xs:int" />
        <xs:element minOccurs="0" name="golongan" type="xs:int" />
        <xs:element minOccurs="0" name="tjkeluarga" type="xs:int" />
        <xs:element minOccurs="0" name="tjkesehatan" type="xs:int" />
        <xs:element minOccurs="0" name="uanglembur" type="xs:int" />
        <xs:element minOccurs="0" name="uangmakann" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editgolonganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editgolonganResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletegolongan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idgolongan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletegolonganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletegolonganResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Golongan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GolonganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="GolonganResult" nillable="true" type="q2:ArrayOfGolongan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="karyawan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idkaryawan" type="xs:int" />
        <xs:element minOccurs="0" name="nip" type="xs:int" />
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jeniskelamin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idjabatan" type="xs:int" />
        <xs:element minOccurs="0" name="idgolongan" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="karyawanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="karyawanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editkaryawan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idkaryawan" type="xs:int" />
        <xs:element minOccurs="0" name="nip" type="xs:int" />
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jeniskelamin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idjabatan" type="xs:int" />
        <xs:element minOccurs="0" name="idgolongan" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editkaryawanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editkaryawanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletekaryawan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idkaryawan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletekaryawanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletekaryawanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Karyawan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KaryawanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="KaryawanResult" nillable="true" type="q3:ArrayOfKaryawan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hadir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idhadir" type="xs:int" />
        <xs:element minOccurs="0" name="bulan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idkaryawan" type="xs:int" />
        <xs:element minOccurs="0" name="lembur" type="xs:int" />
        <xs:element minOccurs="0" name="masuk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hadirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hadirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edithadir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idhadir" type="xs:int" />
        <xs:element minOccurs="0" name="bulan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idkaryawan" type="xs:int" />
        <xs:element minOccurs="0" name="lembur" type="xs:int" />
        <xs:element minOccurs="0" name="masuk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edithadirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edithadirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletehadir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idhadir" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletehadirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletehadirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hadir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HadirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="HadirResult" nillable="true" type="q4:ArrayOfHadir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gaji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noslip" type="xs:int" />
        <xs:element minOccurs="0" name="tanggal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idhadir" type="xs:int" />
        <xs:element minOccurs="0" name="subtotal" type="xs:int" />
        <xs:element minOccurs="0" name="pph" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gajiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gajiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editgaji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idgaji" type="xs:int" />
        <xs:element minOccurs="0" name="noslip" type="xs:int" />
        <xs:element minOccurs="0" name="tanggal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idhadir" type="xs:int" />
        <xs:element minOccurs="0" name="subtotal" type="xs:int" />
        <xs:element minOccurs="0" name="pph" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editgajiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editgajiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletegaji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noslip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletegajiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletegajiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gajisub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idhadir" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GajisubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="GajisubResult" nillable="true" type="q5:ArrayOfGajisub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gajiview">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gajiviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="gajiviewResult" nillable="true" type="q6:ArrayOfgajiview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gaji">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GajiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="GajiResult" nillable="true" type="q7:ArrayOfGaji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gajiviewall">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gajiviewallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="gajiviewallResult" nillable="true" type="q8:ArrayOfgajiviewall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceGaji" minOccurs="0" name="DataRegistResult" nillable="true" type="q9:ArrayOfDataRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>